## Preparations

In [1]:
# Import modules
import os
import pandas as pd
import numpy as np

In [2]:
# Creating directories
def create_directories():
    if not os.path.exists('tables'):
        os.makedirs('tables')
    if not os.path.exists('logs'):
        os.makedirs('logs')

create_directories()

In [3]:
# Import dataframe
def import_df():
    df = pd.read_csv('/home/seblap/Files/Arbeit/Data Analytics/GitHub repos/economy-for-the-common-good/data/scraping/ecg_df.csv')
    print(df.shape)
    display(df.head())
    
    return df

df = import_df()

(1248, 75)

,id,organization,country_code,country_name,postal_code,city,company_size_category,employees,economic_sector_EN,economic_sector_DE,...,balance7_score,balance7_documents,balance8_type_code,balance8_version,balance8_audit_type,balance8_valid_until_date,balance8_valid_until_year,balance8_year,balance8_score,balance8_documents
0,14885,4e solutions GmbH,DE,Germany,70794,Filderstadt,Micro (≤10),3-10,Trade / Consumption,Handel / Konsum,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14886,4plus5,DE,Germany,89077,Ulm,Micro (≤10),3-10,Construction / Architecture,Baugewerbe / Architektur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35275,A & K Engemann GbR,DE,Germany,34439,Willebadessen,Micro (≤10),3-10,Nutrition / Agriculture / Forestry,Nahrungsmittel / Land / Forstwirtschaft,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44668,A&P Steuerberatungsgesellschaft mbH,DE,Germany,14480,Potsdam,Small (≤50),11-25,Consulting,Beratung / Consulting,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29652,AAP-ARCHITEKTEN ZT-GMBH,AT,Austria,1080,Wien,Small (≤50),11-25,Construction / Architecture,Baugewerbe / Architektur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Creating tables

In [4]:
# sizes
def create_sizes(df):
    sizes_list = sorted(list(df['company_size_category'].dropna().unique()))

    if len(sizes_list) > 4:
        print('Warning. Unexpected company size category/categories.')

    sizes = pd.DataFrame({
        'id': [x for x in range (1,len(sizes_list)+1)],
        'company_size_category': [sizes_list[1], sizes_list[3], sizes_list[2], sizes_list[0]]
        })

    sizes.to_csv('tables/sizes.csv', index=False)
    display(sizes)
    
    sizes_mapping = dict(zip(sizes['company_size_category'], sizes['id']))
    
    return sizes, sizes_mapping

sizes, sizes_mapping = create_sizes(df)

   id company_size_category
0   1           Micro (≤10)
1   2           Small (≤50)
2   3            Mid (≤250)
3   4          Large (>250)

In [5]:
# employees
def create_employees(df):
    employees_list = sorted(list(df['employees'].dropna().unique()))

    if len(employees_list) > 12:
        print('Warning. Unexpected employees value(s).')

    employees = pd.DataFrame({
        'id': [x for x in range (1,len(employees_list)+1)],
        'employees': [
            employees_list[0], 
            employees_list[7],
            employees_list[3],
            employees_list[6], 
            employees_list[10],
            employees_list[2], 
            employees_list[5],
            employees_list[9], 
            employees_list[1],
            employees_list[4],
            employees_list[8],
            employees_list[11]
            ]
        })

    sizes_mapping = {
        1: 1,
        2: 1,
        3: 2,
        4: 2,
        5: 3,
        6: 3,
        7: 4,
        8: 4,
        9: 4,
        10: 4,
        11: 4,
        12: 4
        }

    employees['sizes_id'] = employees['id'].map(sizes_mapping)

    employees.to_csv('tables/employees.csv', index=False)
    display(employees)
    
    employees_mapping = dict(zip(employees['employees'], employees['id']))
    
    return employees, employees_mapping
    
employees, employees_mapping = create_employees(df)

    id   employees  sizes_id
0    1         1-2         1
1    2        3-10         1
2    3       11-25         2
3    4       26-50         2
4    5      51-100         3
5    6     101-250         3
6    7     251-500         4
7    8    501-1000         4
8    9   1001-2500         4
9   10   2501-5000         4
10  11  5001-10000         4
11  12        >250         4

In [6]:
# sectors
def create_sectors(df):
    sectors_df = df[['economic_sector_EN', 'economic_sector_DE']].dropna()
    sectors_df = sectors_df.drop_duplicates(subset=['economic_sector_EN']).sort_values(by='economic_sector_EN').reset_index(drop=True)

    if len(sectors_df) > 40:
        print('Warning. Unexpected economic sector(s).')

    sectors = pd.DataFrame({
        'id': [x for x in range (1,len(sectors_df)+1)],
        'economic_sector_EN': sectors_df['economic_sector_EN'],
        'economic_sector_DE': sectors_df['economic_sector_DE']
        })

    sectors.to_csv('tables/sectors.csv', index=False)
    display(sectors)
    
    sectors_mapping_EN = dict(zip(sectors['economic_sector_EN'], sectors['id']))
    sectors_mapping_DE = dict(zip(sectors['economic_sector_DE'], sectors['id']))
    
    return sectors, sectors_mapping_EN, sectors_mapping_DE

sectors, sectors_mapping_EN, sectors_mapping_DE = create_sectors(df)

,id,economic_sector_EN,economic_sector_DE
0,1,Art / Culture / Entertainment,Kunst / Kultur / Unterhaltung
1,2,Associations / Societies,Vereine
2,3,Automotive / Automotive supplier,Automobil / Automobilzulieferer
3,4,Banking,Banken
4,5,Chemistry,Chemie
5,6,Construction / Architecture,Baugewerbe / Architektur
6,7,Consulting,Beratung / Consulting
7,8,Craft,Handwerk
8,9,EDP / IT,EDV / IT
9,10,Education / University / Polytechnic / Schools,Bildung / Universität / FH / Schulen
10,11,Electrical / Electronics,Elektro / Elektronik
11,12,Energy,Energiewirtschaft
12,13,Finance,Finanzen
13,14,Fiscal Advice / Auditing,Steuerberatung / Wirtschaftsprüfung
14,15,HR,Personalwesen / Personalbeschaffung
15,16,Health / Social Affairs / Nursing,Gesundheitswesen / Soziales / Pflege
16,17,Industry,Industrie
17,18,Insurance,Versicherung
18,19,Internet / Multimedia,Internet / Multimedia
19,20,Machinery & Plant Engineering,Maschinen- & Anlagenbau
20,21,Market Research,Marktforschung
21,22,Marketing / Avertising / PR,Marketing / Werbung / PR
22,23,Media,Medien
23,24,Medical Engineering,Medizintechnik
24,25,Nutrition / Agriculture / Forestry,Nahrungsmittel / Land / Forstwirtschaft
25,26,Other,Sonstige
26,27,Pharma,Medizin / Pharma
27,28,Printing / Paper / Packaging,Druck / Papier / Verpackung
28,29,Public Administration,Öffentliche Verwaltung
29,30,Real Estate / Facility Management,Immobilien / Facility Management
30,31,Research / Development / Science,Forschung / Entwicklung / Wissenschaft
31,32,Seminar / Fair provider,Seminar- / Messeanbieter
32,33,Services,Dienstleistung
33,34,Sports / Fitness / Beauty,Sport / Fitness / Beauty
34,35,Telecommunication,Telekommunikation
35,36,Textile,Textilbranche
36,37,Tourism / Hotel / Catering,Tourismus / Hotel / Gastronomie
37,38,Trade / Consumption,Handel / Konsum
38,39,Transport / Logistics,Verkehr / Transport / Logistik
39,40,Waste Disposal,Abfallentsorgung

In [7]:
# countries
def create_countries(df):
    countries_df = df[['country_code', 'country_name']].dropna()
    countries_df = countries_df.drop_duplicates(subset=['country_code']).sort_values(by='country_code').reset_index(drop=True)

    if len(countries_df) > 16:
        print('Warning. Unexpected company size category/categories.')

    countries = pd.DataFrame({
        'id': [x for x in range (1,len(countries_df)+1)],
        'country_code': countries_df['country_code'],
        'country_name': countries_df['country_name']
        })

    countries.to_csv('tables/countries.csv', index=False)
    display(countries)

    countries_mapping_code = dict(zip(countries['country_code'], countries['id']))
    countries_mapping_name = dict(zip(countries['country_name'], countries['id']))

    return countries, countries_mapping_code, countries_mapping_name
    
countries, countries_mapping_code, countries_mapping_name = create_countries(df)

    id country_code    country_name
0    1           AT         Austria
1    2           BE         Belgium
2    3           CH     Switzerland
3    4           DE         Germany
4    5           DK         Denmark
5    6           ES           Spain
6    7           HR         Croatia
7    8           IT           Italy
8    9           LU      Luxembourg
9   10           NL     Netherlands
10  11           PL          Poland
11  12           PT        Portugal
12  13           SE          Sweden
13  14           UK  United Kingdom
14  15           UR         Uruguay
15  16           US   United States

In [8]:
# locations
def create_locations(df, countries_mapping_code):
    locations_df = df[['postal_code', 'city', 'country_code']].dropna()
    locations_df = locations_df.drop_duplicates(subset=['postal_code', 'country_code']).sort_values(by=['country_code', 'postal_code']).reset_index(drop=True)

    if len(locations_df) > 927:
        print('Warning. New location(s).')

    locations = pd.DataFrame({
        'id': [x for x in range (1,len(locations_df)+1)],
        'postal_code': locations_df['postal_code'],
        'city': locations_df['city'],
        'country_code': locations_df['country_code']
        })

    locations['country_id'] = locations['country_code'].map(countries_mapping_code)

    locations.to_csv('tables/locations.csv', index=False)
    display(locations)
    
    locations_mapping = locations[['id', 'country_code', 'postal_code']].astype(str)
    locations_mapping['loc_mapping'] = locations_mapping['country_code'] + ' ' + locations_mapping['postal_code'] 
    locations_mapping = dict(zip(locations_mapping['loc_mapping'], locations_mapping['id']))
    
    return locations, locations_mapping

locations, locations_mapping = create_locations(df, countries_mapping_code)

      id postal_code        city country_code  country_id
0      1        1010        Wien           AT           1
1      2        1020        Wien           AT           1
2      3        1030        Wien           AT           1
3      4        1040        Wien           AT           1
4      5        1050        Wien           AT           1
..   ...         ...         ...          ...         ...
922  923       27392   Tomelilla           SE          13
923  924       41458    Göteborg           SE          13
924  925    BT56 8FQ    Portrush           UK          14
925  926       12400  Montevideo           UR          15
926  927       19343   Glenmoore           US          16

[927 rows x 5 columns]

In [9]:
# organizations
def create_organizations(df, locations_mapping, sectors_mapping_EN, employees_mapping):
    organizations_df = df[['id', 'organization', 'country_code', 'postal_code', 'employees', 'economic_sector_EN']]
    
    organizations_df['employees_id'] = organizations_df['employees'].apply(lambda x: employees_mapping.get(x,x) if isinstance(x, str) else x)
    
    organizations_df['locations_id'] = organizations_df['country_code'] + ' ' + organizations_df['postal_code'] 
    organizations_df['locations_id'] = organizations_df['locations_id'].apply(lambda x: locations_mapping.get(x,x if isinstance(x, str) else x))
    
    organizations_df['sectors_id'] = organizations_df['economic_sector_EN'].apply(lambda x: sectors_mapping_EN.get(x,x) if isinstance(x, str) else x)

    organizations = organizations_df[['id', 'organization', 'locations_id', 'employees_id', 'sectors_id']]
    
    organizations.to_csv('tables/organizations.csv', index=False)
    display(organizations)
    
    return organizations

organizations = create_organizations(df, locations_mapping, sectors_mapping_EN, employees_mapping)

/tmp/ipykernel_11448/2553821595.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  organizations_df['employees_id'] = organizations_df['employees'].apply(lambda x: employees_mapping.get(x,x) if isinstance(x, str) else x)
/tmp/ipykernel_11448/2553821595.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  organizations_df['locations_id'] = organizations_df['country_code'] + ' ' + organizations_df['postal_code']
/tmp/ipykernel_11448/2553821595.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  organizations_df['locations_id'] = organizations_df['locations_id'].apply(lambda x: locations_mapping.get(x,x if isinstance(x, str) else x))
/tmp/ipykernel_11448/2553821595.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  organizations_df['sectors_id'] = organizations_df['economic_sector_EN'].apply(lambda x: sectors_mapping_EN.get(x,x) if isinstance(x, str) else x)

,id,organization,locations_id,employees_id,sectors_id
0,14885,4e solutions GmbH,550,2.0,38.0
1,14886,4plus5,744,2.0,6.0
2,35275,A & K Engemann GbR,390,2.0,25.0
3,44668,A&P Steuerberatungsgesellschaft mbH,266,3.0,7.0
4,29652,AAP-ARCHITEKTEN ZT-GMBH,9,3.0,6.0
...,...,...,...,...,...
1243,92844,Zimmerei Diedrich – Die Gesundhausbauer GmbH,413,3.0,6.0
1244,45156,zimmerwerkstatt Nicola Bannier und Michael Weber,349,1.0,8.0
1245,14718,Zukunftswerk eG,639,2.0,7.0
1246,30321,zündstoff. fair organic clothing S. Klemz & M....,589,2.0,36.0
1247,14728,NaN,NaN,1.0,NaN

In [10]:
# balance_audit_types
def create_balance_audit_types(df):
    balance_audit_types_list = []
    for i in range(1,9):
        balance_audit_types_list.extend(list(df[f'balance{i}_audit_type']))
    
    balance_audit_types_list = sorted(list(pd.Series(balance_audit_types_list).dropna().unique()))

    if len(balance_audit_types_list) > 3:
        print('Warning. Unexpected balance audit type(s).')

    balance_audit_types = pd.DataFrame({
        'id': [x for x in range (1,len(balance_audit_types_list)+1)],
        'audit_type': balance_audit_types_list
        })

    balance_audit_types.to_csv('tables/balance_audit_types.csv', index=False)
    display(balance_audit_types)
    
    balance_audit_types_mapping = dict(zip(balance_audit_types['audit_type'], balance_audit_types['id']))
    
    return balance_audit_types, balance_audit_types_mapping

balance_audit_types, balance_audit_types_mapping = create_balance_audit_types(df)

   id audit_type
0   1       Desk
1   2    On site
2   3       Peer

In [11]:
# balance_types
def create_balance_types(df):
    balance_types_list = []
    for i in range(1,9):
        balance_types_list.extend(list(df[f'balance{i}_type_code']))
    
    balance_types_list = sorted(list(pd.Series(balance_types_list).dropna().astype(str).unique()))

    if len(balance_types_list) > 5:
        print('Warning. Unexpected balance type code(s).')

    balance_types = pd.DataFrame({
        'id': [x for x in range (1,len(balance_types_list)+1)],
        'type_code': balance_types_list
        })

    balance_types.to_csv('tables/balance_types.csv', index=False)
    display(balance_types)
    
    balance_types_mapping = dict(zip(balance_types['type_code'], balance_types['id']))
    
    return balance_types, balance_types_mapping

balance_types, balance_types_mapping = create_balance_types(df)

   id type_code
0   1       3.0
1   2       4.0
2   3       4.1
3   4  Gemeinde
4   5      M5.0

In [12]:
# balance_versions
def create_balance_versions(df):
    balance_versions_list = []
    for i in range(1,9):
        balance_versions_list.extend(list(df[f'balance{i}_version']))
    
    balance_versions_list = sorted(list(pd.Series(balance_versions_list).dropna().astype(str).unique()))

    if len(balance_versions_list) > 3:
        print('Warning. Unexpected balance version(s).')

    balance_versions = pd.DataFrame({
        'id': [x for x in range (1,len(balance_versions_list)+1)],
        'type_code': balance_versions_list
        })

    balance_versions.to_csv('tables/balance_versions.csv', index=False)
    display(balance_versions)
    
    balance_versions_mapping = dict(zip(balance_versions['type_code'], balance_versions['id']))
    
    return balance_versions, balance_versions_mapping

balance_versions, balance_versions_mapping = create_balance_versions(df)

Warning. Unexpected balance version(s).

   id type_code
0   1   Compact
1   2      Full
2   3      M1.2
3   4  Standard

In [13]:
# balance_documents
def create_balance_documents(df):
    balance_documents_list = []
    for i in range(1,9):
        balance_documents_list.extend(list(df[f'balance{i}_documents']))

    balance_documents_list = pd.Series(balance_documents_list).dropna().astype(str).unique()
    balance_documents_list = [x.split('+') for x in balance_documents_list]
    balance_documents_list = list(pd.Series(balance_documents_list).explode('+'))
    balance_documents_list = sorted(list(pd.Series(balance_documents_list).dropna().unique()))

    if len(balance_documents_list) > 3:
        print('Warning. Unexpected balance document(s).')

    balance_documents = pd.DataFrame({
        'id': [x for x in range (1,len(balance_documents_list)+1)],
        'document': balance_documents_list
        })

    balance_documents.to_csv('tables/balance_documents.csv', index=False)
    display(balance_documents)
    
    balance_documents_mapping = dict(zip(balance_documents['document'], balance_documents['id']))
    
    return balance_documents, balance_documents_mapping

balance_documents, balance_documents_mapping = create_balance_documents(df)

   id     document
0   1  Attestation
1   2  Certificate
2   3       Report

In [14]:
# balance_versions
def create_balance_versions(df):
    balance_versions_list = []
    for i in range(1,9):
        balance_versions_list.extend(list(df[f'balance{i}_version']))
    
    balance_versions_list = sorted(list(pd.Series(balance_versions_list).dropna().astype(str).unique()))

    if len(balance_versions_list) > 3:
        print('Warning. Unexpected balance version(s).')

    balance_versions = pd.DataFrame({
        'id': [x for x in range (1,len(balance_versions_list)+1)],
        'type_code': balance_versions_list
        })

    balance_versions.to_csv('tables/balance_versions.csv', index=False)
    display(balance_versions)
    
    balance_versions_mapping = dict(zip(balance_versions['type_code'], balance_versions['id']))
    
    return balance_versions, balance_versions_mapping

balance_versions, balance_versions_mapping = create_balance_versions(df)

Warning. Unexpected balance version(s).

   id type_code
0   1   Compact
1   2      Full
2   3      M1.2
3   4  Standard

In [15]:
# balances
def create_balances(df, balance_types_mapping, balance_versions_mapping, balance_audit_types_mapping):
    balances_df = df[['id', 'balance1_type_code', 'balance1_version', 'balance1_audit_type', 'balance1_valid_until_date', 'balance1_valid_until_year', 'balance1_year', 'balance1_score', 'balance1_documents']].dropna(subset=['balance1_type_code', 'balance1_version', 'balance1_audit_type', 'balance1_valid_until_date', 'balance1_valid_until_year', 'balance1_year', 'balance1_score', 'balance1_documents'], how='all')
    balances_df.columns = ['organizations_id', 'type_code', 'version', 'audit_type', 'valid_until_date', 'valid_until_year', 'year', 'score', 'balance_documents']
    balances_df['entry_number'] = 1

    for i in range(2,9):
        additional_df = df[['id', f'balance{i}_type_code', f'balance{i}_version', f'balance{i}_audit_type', f'balance{i}_valid_until_date', f'balance{i}_valid_until_year', f'balance{i}_year', f'balance{i}_score', f'balance{i}_documents']].dropna(subset=[f'balance{i}_type_code', f'balance{i}_version', f'balance{i}_audit_type', f'balance{i}_valid_until_date', f'balance{i}_valid_until_year', f'balance{i}_year', f'balance{i}_score', f'balance{i}_documents'], how='all')
        additional_df.columns = ['organizations_id', 'type_code', 'version', 'audit_type', 'valid_until_date', 'valid_until_year', 'year', 'score', 'balance_documents']
        additional_df['entry_number'] = i
        balances_df = pd.concat([balances_df, additional_df], axis=0)

    balances_df = balances_df.sort_values(by=['organizations_id', 'entry_number']).reset_index(drop=True)
    balances_df['id'] = [x for x in range(1, len(balances_df)+1)]
    balances_df = balances_df[['id', 'organizations_id', 'entry_number', 'type_code', 'version', 'audit_type', 'year', 'valid_until_date', 'valid_until_year', 'score', 'balance_documents']]

    balances_df['type_code'] = balances_df['type_code'].apply(lambda x: str(x) if isinstance(x, int) or isinstance(x, float) else x)
    balances_df['types_id'] = balances_df['type_code'].apply(lambda x: balance_types_mapping.get(x,x))

    balances_df['version'] = balances_df['version'].apply(lambda x: str(x) if isinstance(x, int) or isinstance(x, float) else x)
    balances_df['versions_id'] = balances_df['version'].apply(lambda x: balance_versions_mapping.get(x,x))    

    balances_df['audit_types_id'] = balances_df['audit_type'].apply(lambda x: balance_audit_types_mapping.get(x,x))

    #balances_df['year'] = balances_df['year'].fillna('None')
    #balances_df['year'] = balances_df['year'].apply(lambda x: int(x) if isinstance(x, float) else x)
    #balances_df['year'] = balances_df['year'].apply(lambda x: None if x='None' else x)

    balances_df['valid_until_date'] = balances_df['valid_until_date'].apply(lambda x: f'{x.split("-")[2]}-{x.split("-")[1]}-{x.split("-")[0]}' if isinstance(x, str) else x)

    balances_x_documents_temp_df = balances_df[['id', 'balance_documents']]
    balances = balances_df[['id', 'organizations_id', 'entry_number', 'types_id', 'versions_id', 'audit_types_id', 'year', 'valid_until_date', 'valid_until_year', 'score']]

    balances.to_csv('tables/balances.csv', index=False)
    display(balances)
    return balances, balances_x_documents_temp_df

balances, balances_x_documents_temp_df = create_balances(df, balance_types_mapping, balance_versions_mapping, balance_audit_types_mapping)

,id,organizations_id,entry_number,types_id,versions_id,audit_types_id,year,valid_until_date,valid_until_year,score
0,1,14654,1,5,1,1,NaN,NaN,NaN,NaN
1,2,14654,2,3,4,1,2016.0,2018-03-31,2018.0,520.0
2,3,14655,1,5,1,1,2019.0,2021-05-31,2021.0,443.0
3,4,14655,2,3,4,1,NaN,NaN,NaN,NaN
4,5,14655,3,3,4,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1475,1476,159686,1,5,1,2,NaN,NaN,NaN,NaN
1476,1477,159686,2,5,1,2,NaN,NaN,NaN,NaN
1477,1478,159686,3,5,2,2,NaN,NaN,NaN,NaN
1478,1479,160753,1,5,1,3,NaN,NaN,NaN,NaN
1479,1480,160755,1,5,1,3,NaN,NaN,NaN,NaN

In [16]:
# balances_x_documents
def create_balances_x_documents(df, balances_x_documents_temp_df, balance_documents_mapping):
    balances_x_documents = balances_x_documents_temp_df
    balances_x_documents.columns = ['balances_id', 'balance_documents_id']
    balances_x_documents['balance_documents_id'] = balances_x_documents['balance_documents_id'].apply(lambda x: x.split('+') if isinstance(x, str) else x)
    balances_x_documents = balances_x_documents.explode('balance_documents_id')
    balances_x_documents = balances_x_documents.dropna().reset_index(drop=True)
    balances_x_documents['balance_documents_id'] = balances_x_documents['balance_documents_id'].apply(lambda x: balance_documents_mapping.get(x,x))
    balances_x_documents['id'] = [x for x in range(1,len(balances_x_documents)+1)]
    balances_x_documents = balances_x_documents[['id', 'balances_id', 'balance_documents_id']]
    
    balances_x_documents.to_csv('tables/balances_x_documents.csv', index=False)
    display(balances_x_documents)
    return balances_x_documents

balances_x_documents = create_balances_x_documents(df, balances_x_documents_temp_df, balance_documents_mapping)

        id  balances_id  balance_documents_id
0        1            2                     3
1        2            2                     1
2        3            3                     3
3        4            3                     1
4        5            4                     3
...    ...          ...                   ...
2411  2412         1454                     3
2412  2413         1454                     1
2413  2414         1456                     1
2414  2415         1463                     3
2415  2416         1463                     1

[2416 rows x 3 columns]